<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div class="bg-black">
    <div class="py-5">
        <div class="container py-5 srednotemno shadow-sm card-height">
            <div class="row mx-3" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10"  style="color:white; ">
                    <th:block th:replace="fragments/common-fragments :: info-title(
                        text='Листа на нарачки',
                        icon='fas fa-shopping-bag ml-2 mr-2'
                    )"/>

                    <div th:insert="~{fragments/common-fragments :: pagination}"></div>
                    <th:block th:if="${page.getContent().size() == 0}"
                              th:insert="~{fragments/common-fragments :: empty-result(text='Orders not found')}"/>
                    <table th:unless="${page.getContent().size() == 0}" class="table mt-4 border text-center" style="color: white">
                        <thead class="table-active">
                        <tr>
                            <th>Број на нарачка</th>
                            <th>Датум</th>
                            <th>Клиент</th>
                            <th>Мејл</th>
                            <th>Вкупно</th>
                            <th></th>
                        </tr>
                        <tbody th:each="order : ${page.getContent()}">
                        <tr>
                            <th th:text="${order.getId()}"></th>
                            <th th:text="${#temporals.format(order.getDate(), 'yyyy-MM-dd HH:mm')}"></th>
                            <th th:text="${order.getFirstName() + ' ' + order.getLastName()}"></th>
                            <th th:text="${order.getEmail()}"></th>
                            <th th:text="'$' + ${order.getTotalPrice()} + '0'"></th>
                            <th:block sec:authorize="hasAuthority('ADMIN')">
                                <th>
                                    <a th:href="@{/admin/order/{orderId} (orderId = ${order.getId()})}">
                                        Прикажи повеќе
                                    </a>
                                </th>
                            </th:block>
                            <th:block sec:authorize="hasAuthority('USER')">
                                <th>
                                    <a th:href="@{/order/{orderId} (orderId = ${order.getId()})}">
                                        Прикажи повеќе
                                    </a>
                                </th>
                            </th:block>
                        </tr>
                        </tbody>
                    </table>
                    <div th:unless="${page.getContent().size() == 0}"
                         th:insert="~{fragments/common-fragments :: pagination}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
